<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align: center">
  <div class="container-fluid header">
    <div class="row">
      <div class="col-md-12">
        <p style="color:white;">Country Application</p>
      </div>
    </div>
    <div class="row" id="wrapper">
        <div class="col-lg-6">
          <button type="button" class="btn btn-primary btn-lg" (click)="countryName()">Search Country By Name</button>
        </div>
        <div class="col-lg-6">
          <button type="button" class="btn btn-primary btn-lg" (click)="countryISO()">Search Country By ISO Code </button>
        </div>
      </div>
  </div>

</div>

<router-outlet></router-outlet>
